{% extends "base.html" %}
{% block content%}
{% load bootstrap3 %}

<form action="" method="post" class="form">
	{% csrf_token %}
	{% bootstrap_form form %}
	<input type="submit">
	
</form>

{% if content.items %}
<table class = "styled-table"> 
  {% for index, row in content.iterrows %}
  <tr>
    <td>
      <p><a href="{{row.url}}" , target="_blank">{{row.title}}</a></p>
      {% for kw in row.kws%}
      <div class="boxed">{{kw}}  </div>
      {% endfor %}
      <p>{{row.abstract|safe}}</p>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
</div>

<!--source: https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'semantics/style.css' %}">

{% endblock %}