<a style="color:#FF0000;" href="{% url 'home' %}">Advanced Query</a> | <a href="{% url 'basic_query' %}">Basic Query</a>
 <pre>
  <b>Example Queries</b>

  <b>Example 1: Selecting first 25 triples</b>

    SELECT ?subject ?predicate ?object 
    WHERE {
      ?subject ?predicate ?object
    }
    LIMIT 25
  </pre>
  <pre>
  <b>Example 2: Selecting articles which includes Germany and Netherlands</b>

    prefix dbo: &lt;http://dbpedia.org/ontology/&gt;
    prefix dcterms: &lt;http://purl.org/dc/terms/&gt;
    prefix foaf: &lt;http://xmlns.com/foaf/0.1/&gt;
    prefix sioc: &lt;http://rdfs.org/sioc/ns#&gt;
    
    SELECT ?country1 ?country2 ?article ?article_title WHERE { 
      ?article sioc:title ?article_title  .
      ?article sioc:topic ?article_section . 
      ?article sioc:content ?article_text . 
      ?article dbo:country ?country1 . FILTER (?country1 = "Germany") 
      ?article dbo:country ?country2 . FILTER (?country2 = "Netherlands") 
    } 
    LIMIT 100
  </pre>

</div>

   <form action="{% url 'query' %}" method="POST">
    {% csrf_token %}
    <textarea name="Text1" cols="80" rows="10" placeholder="Write a SPARQL query">{% if prev_query %}{{prev_query}}{% endif %}</textarea>
    <br/>
    <input type="submit" value="Execute">
  </form>


  {% block content %}
  {{data | safe}}
  {% endblock %}
